@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0px;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html,
body {
  font-family: "Poppins";
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 500;
  line-height: 1;
  font-size: 16px;
  color: #1d252c;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.menu-open {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

/*--------------------------------------------------------*/
[class*="__container"] {
  max-width: 1141px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: clip;
}

/*--------------------------------------------------------*/
.button {
  padding: 8px 44px;
  background: #56b280;
  border: solid 1px #56b280;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.button:hover {
  background: #fff;
  color: #56b280;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #ffffff;
}
.header__container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__user button {
  background: #ffffff;
}
.header__user img {
  min-width: 100%;
}

.menu__list {
  display: flex;
  gap: 80px;
}
.menu__item:hover > a,
.menu a:hover {
  color: #56b280;
}
.menu__item:hover .submenu {
  z-index: 3;
  clip: auto;
  width: 100%;
  height: auto;
  margin: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
}
.menu__link {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #272727;
}
.menu__link:hover {
  color: #56b280;
}

.submenu {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.menu-item-has-children::after {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: none;
  border-top-color: #56b280;
  content: "";
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 2;
  right: -3px;
}

@media (max-width: 767.98px) {
  .header__logo {
    margin: 0 auto;
  }
  .icon-menu {
    background-color: inherit;
    display: block;
    width: 32px;
    height: 17px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 2px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    top: 76px;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    top: -100%;
    overflow: auto;
    transition: top 0.5s ease 0s;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 40px;
    row-gap: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 116%;
  }
  .menu__link {
    font-size: 32px;
    margin-bottom: 20px;
    display: inline-block;
  }
  .menu__item:hover .submenu {
    z-index: 3;
    clip: auto;
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
    left: 60%;
    display: flex;
    flex-direction: column;
  }
  .menu-item-has-children::after {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: none;
    border-top-color: #56b280;
    content: "";
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 2;
    right: 170px;
  }
}
.main {
  height: 100vh;
  position: relative;
  background: url(/images/Desktop/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.main__container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 730px;
  padding: 10px;
  background: rgba(247, 248, 250, 0.8);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-radius: 2px;
}
.main__plants {
  padding-top: 37px;
  font-size: 40px;
  line-height: 58px;
}
.main__tittle {
  font-size: 40px;
  line-height: 58px;
  text-align: center;
}
.main__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
}
.main__button {
  margin-top: 45px;
  margin-bottom: 63px;
}

@media (max-width: 767.98px) {
  .main__block {
    min-width: 345px;
  }
}
.products {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 100px;
}
.products__items {
  margin-top: 60px;
}

.top-description__tittle {
  font-size: 40px;
  line-height: 145%;
  text-align: center;
  letter-spacing: -0.9px;
}
.top-description__text {
  margin-top: 15px;
  font-size: 18px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #5e6e89;
}

.items-products__collumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 25px;
}
.items-products__collumns span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 25px;
}
.items-products__item {
  color: #1d252c;
  display: flex;
  flex-direction: column;
  max-width: 255px;
  min-height: 230px;
  box-shadow: 0px 4px 24px rgba(123, 123, 123, 0.15);
  transition: all 0.5s ease 0s;
}
.items-products__item:hover {
  transform: scale(1.02);
}
.items-products__img {
  max-width: inherit;
  max-height: 154px;
  background-color: #f7f8fa;
}
.items-products__description {
  background-color: #ffffff;
  padding: 10px 26px 16px 26px;
}
.items-products__name {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.9px;
}
.items-products__price {
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  color: #56b280;
}
.items-products__button {
  display: none;
}

#dots {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media (max-width: 526.98px) {
  .items-products__item {
    min-height: 147px;
    min-width: 100%;
  }
  .items-products__img {
    max-height: 100px;
    min-width: 100%;
  }
  .items-products__img img {
    display: block;
    margin: 0 auto;
  }
  .items-products__description {
    position: relative;
    z-index: 1;
    max-height: 52px;
  }
  .items-products__name {
    font-size: 16px;
    line-height: 112%;
  }
  .items-products__price {
    font-size: 17px;
    line-height: 110%;
  }
  .items-products__button {
    display: block;
    margin: 0 auto;
  }
  #more {
    display: none;
  }
}
.about {
  background-color: #f7f8fa;
  padding-top: 133px;
  padding-bottom: 234px;
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.about__tittle {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 15px;
}
.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #56b280;
  margin-bottom: 38px;
}
.about__list {
  margin-bottom: 58px;
}
.about__list li {
  position: relative;
  padding-left: 24px;
  font-size: 16px;
  line-height: 182%;
}
.about__list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(/images/Desktop/checkmark-circle-outline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.about__button {
  max-width: 245px;
}
.about__decor {
  max-width: 540px;
  max-height: 377px;
  background-color: #fff;
}
.about__decor img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about__container {
    flex-direction: column;
  }
  .about__list {
    margin-bottom: 20px;
  }
  .about__button {
    margin: 0 auto;
  }
}
.testimonials {
  background-color: rgba(86, 178, 128, 0.1);
  padding-top: 90px;
  padding-bottom: 90px;
}
.testimonials__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 27px;
}
.testimonials__item {
  background-color: #ffffff;
  max-width: 350px;
  min-height: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__img {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 33px;
}
.testimonials__raiting {
  margin-top: 14px;
}
.testimonials__quote {
  max-width: 320px;
  margin-top: 22px;
  font-size: 22px;
  line-height: 132%;
  text-align: center;
}
.testimonials__customer {
  margin-top: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: center;
  color: #5e6e89;
}

.popular {
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 90px;
}
.popular__items {
  margin-top: 50px;
}

.footer {
  background-color: #272727;
  padding-bottom: 115px;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.footer__white-line {
  border-bottom: solid 1px #fff;
  padding-top: 60px;
}
.footer__logo {
  max-width: 375px;
}
.footer__slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  letter-spacing: -0.5px;
  color: #ffffff;
}
br {
  color: #e1e1e1;
  padding-top: 50px;
}

.nav-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 43px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.nav-footer__body {
  margin-bottom: 20px;
}
.nav-footer__title {
  font-size: 16px;
  line-height: 180%;
  color: #56b280;
  margin-bottom: 25px;
}
.nav-footer__list li:not(:last-child) {
  margin-bottom: 20px;
}
.nav-footer__list a {
  font-size: 16px;
  line-height: 29px;
  color: #e1e1e1;
  transition: all 0.3s ease 0s;
}
.nav-footer__list a:hover {
  color: #56b280;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #dbdbdb;
  border-radius: 50%;
  margin-right: 1.6em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-checkbox:checked + label::before {
  background-color: #56b280;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.9px;
  text-decoration-line: underline;
  color: #56b280;
}
.link--mini {
  font-size: 14px;
  line-height: 114%;
  /* 16px/14 */
}

.product {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.product__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  min-height: 521px;
  margin-top: 47px;
}
.product__img {
  max-height: 433px;
  max-width: 540px;
  background-color: #f7f8fa;
}
.product__img img {
  max-width: 100%;
}
.product__banner {
  margin-top: 17px;
}
.product__banner a {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.9px;
  text-decoration: none;
  text-transform: uppercase;
  color: #56b280;
  text-align: center;
}
.product__text {
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}

.product-form {
  display: grid;
  gap: 10px;
  grid-template-columns: 160px 1fr 90px;
  grid-template-rows: 48px 120px 120px 200px;
  grid-template-areas: "tittle tittle tittle" "price delivery delivery" "0 btn btn" "info info info";
  align-items: center;
}
.product-form__tittle {
  grid-area: tittle;
  justify-content: start;
  font-size: 26px;
  line-height: 223%;
  letter-spacing: -0.9px;
}
.product-form__price {
  grid-area: price;
  font-weight: 600;
  font-size: 26px;
  line-height: 223%;
  letter-spacing: -0.9px;
  color: #56b280;
}
.product-form__block {
  grid-area: delivery;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr 80px;
  grid-template-rows: 30px 1fr;
  grid-template-areas: "a b" "c c";
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  padding: 10px;
}
.product-form__item {
  grid-area: a;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.9px;
}
.product-form__delivery-sub {
  grid-area: b;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding-left: 5px;
}
.product-form__discription {
  grid-area: c;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #818181;
}
.product-form__button {
  grid-area: btn;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.product-form__button:hover svg path {
  fill: #56b280;
}
.product-form__info {
  grid-area: info;
  align-self: end;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  padding: 10px;
}
.product-form__info p {
  font-weight: 400;
  font-size: 1em;
  line-height: 162%;
  color: #1d252c;
}
.product-form__info p span {
  color: #849a8e;
}

@media (max-width: 991.98px) {
  .product__container {
    flex-direction: column;
  }
  .product__img {
    margin: 0 auto;
  }
}
@media (max-width: 479.98px) {
  .product-form {
    grid-template-columns: 1fr 90px;
    grid-template-rows: 38px 38px 120px 45px 200px;
    grid-template-areas: "tittle tittle" "price price" "delivery delivery" " btn btn" "info info";
    align-items: center;
  }
}
.border-b {
  border-bottom: 1px solid rgba(86, 178, 128, 0.2);
}
.border-b--1 {
  grid-area: e;
}
.border-b--2 {
  grid-area: g;
}

.cart__container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}
.cart__tittle {
  font-size: 26px;
  line-height: 223%;
  letter-spacing: -0.9px;
  text-align: center;
}
.cart__link {
  text-align: center;
  margin-top: 34px;
}
.cart__headlines {
  display: grid;
  grid-template-columns: 1fr repeat(3, 150px);
  grid-template-rows: 36px 3px;
  align-items: center;
  grid-template-areas: "a b c d" "e e e e";
  margin-bottom: 10px;
}

.cart__headline--1 {
  grid-area: a;
  justify-self: start;
}
.cart__headline--2 {
  grid-area: b;
  justify-self: center;
}
.cart__headline--3 {
  grid-area: c;
  justify-self: center;
}
.cart__headline--4 {
  grid-area: d;
  justify-self: end;
}

.cart-box {
  display: flex;
  flex-direction: column;
}

.product-cart {
  min-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 180px 1fr repeat(3, 150px);
  grid-template-rows: repeat(2, 1fr) 21px;
  align-items: center;
  grid-template-areas: "a b d e f" "a c d e f" "g g g g g";
  margin-bottom: 10px;
}
.product-cart__img {
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  max-width: 100%;
  max-height: 100%;
  background-color: #f7f8fa;
}
.product-cart__img img {
  max-width: 100%;
}
.product-cart__name {
  grid-area: b;
  font-size: 26px;
  line-height: 223%;
  letter-spacing: -0.9px;
}
.product-cart__remove {
  grid-area: c;
  justify-self: start;
  max-height: 20px;
  background-color: inherit;
}
.product-cart__price {
  grid-area: d;
  justify-self: center;
}
.product-cart__quantity {
  grid-area: e;
  justify-self: center;
}
.product-cart__total-price {
  grid-area: f;
  justify-self: end;
}

.cart-bottom {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
}
.cart-bottom__sub-total-price span {
  padding-left: 10px;
}
@media (max-width: 767.98px) {
  .cart__link {
    margin: 0;
  }
  .cart__headlines {
    grid-template-columns: minmax(100px, 1fr) 150px;
    align-items: center;
    grid-template-areas: "a b " "e e ";
  }
  .cart__headline--2 {
    justify-self: end;
  }
  .cart__headline--3 {
    display: none;
  }
  .cart__headline--4 {
    display: none;
  }
  .product-cart {
    grid-template-columns: 180px minmax(100px, 1fr) 75px;
    grid-template-rows: 40px 120px 21px;
    grid-template-areas: "b b d" "a c e " "g g g ";
  }
  .product-cart__total-price {
    display: none;
  }
  .cart-bottom {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .cart-bottom__button {
    min-width: 100%;
  }
}
.number {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  width: 75px;
  border: 1px solid #56b280;
  display: inline-block;
}

.number-minus,
.number-plus {
  position: absolute;
  top: 0;
  width: 25px;
  height: 30px;
  line-height: 30px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #56b280;
  text-decoration: none;
}

.number-minus {
  left: 0;
}

.number-plus {
  right: 0;
}

.number-minus:hover,
.number-plus:hover {
  background: #f0f0f0;
}

.number-minus:active,
.number-plus:active {
  background: #e8e4e2;
}

.number-text {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  padding: 0;
  margin: 0 0 0 25px;
  background: #fff;
  outline: none;
  border: none;
  width: 24px;
  text-align: center;
}

.shop__container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.shop__top {
  margin-bottom: 50px;
}
.shop__layout {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.top__tittle {
  font-size: 40px;
  line-height: 145%;
  text-align: center;
  letter-spacing: -0.9px;
}
.top__text {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #5e6e89;
}

.details__container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-details {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(150px, 250px));
  grid-template-rows: repeat(10, 40px);
  grid-template-areas: "contact login" "inputPhoneEmail inputPhoneEmail" "newsletter newsletter" "shipping 0" "userName secondName" "address address" "city postalCode" "coutry coutry" "save save" "backToCart button";
  -moz-column-gap: 13px;
  column-gap: 13px;
  row-gap: 23px;
}
.form-details__login {
  grid-area: login;
  justify-self: end;
  font-size: 14px;
  line-height: 185%;
}
.form-details__item {
  padding: 15px 25px;
  border: 0.5px solid #898989;
  display: flex;
  cursor: pointer;
}
.form-details input {
  min-width: 100%;
  color: #272727;
}
.form-details input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #5e6e89;
}
.form-details input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #5e6e89;
}
.form-details__label {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.9px;
}
.form-details__button {
  grid-area: button;
}

.form-details__label--contact {
  grid-area: contact;
}
.form-details__label--shipping {
  grid-area: shipping;
}

#inputPhoneEmail {
  grid-area: inputPhoneEmail;
}

#detailsNewsletter {
  grid-area: newsletter;
}

#detailsName {
  grid-area: userName;
}

#detailsSecondName {
  grid-area: secondName;
}

#detailsAddress {
  grid-area: address;
}

#detailsCity {
  grid-area: city;
}

#detailsPostalCode {
  grid-area: postalCode;
}

#detailsCountry {
  grid-area: coutry;
  position: relative;
}
#detailsCountry label {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 3px;
  left: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: #5e6e89;
}

#detailsSave {
  grid-area: save;
}

#backToCart {
  grid-area: backToCart;
}

@media (max-width: 479.98px) {
  .form-details {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(80px, 130px) 220px;
    grid-template-rows: repeat(13, 40px);
    grid-template-areas: "contact login" "inputPhoneEmail inputPhoneEmail" "newsletter newsletter" "shipping 0" "userName userName" "secondName secondName" "address address" "city city" "postalCode postalCode" "coutry coutry" "save save" "button button" "backToCart backToCart ";
    -moz-column-gap: 13px;
    column-gap: 13px;
    row-gap: 23px;
  }
  .form-details__link {
    text-align: center;
  }
}
